/* CUSTOM PROPERTIES */


:root {
  /* Remember: put here only the variables that have a global scope. Otherwise it is better to insert them in the specific closure where they have to act upon. */
  --font-size: 1.1rem;
  --font-family: Helvetica, Arial, sans-serif;
  --opacity: 0.5;
  /* EDIT 20240116 */
  --camera-screen-width: 80vh;
  --camera-screen-height: calc(var(--camera-screen-width) * 0.75);
  /* END EDIT */
  
}

/* ------------------- */
/*        TYPES        */
/* ------------------- */

/* EDIT20230531B*/
html, body {
  height: 100%;
}
/* END EDIT20230531B*/

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
}

/* ------------------ */
/*       LAYERS       */
/* ------------------ */

.container {
  position: relative;
  width:  100vw;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}

.layer {
  position: absolute;
  top: 0px;
  width: 100vw;
  min-height: 100%;
  padding: 0px;
}

.info-card {
  z-index: 10;
}

.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #E9E4E3;
  z-index: 8;
  width: 100vw;
}

.heading {
  border-bottom: 1px solid #E9E4E3;
  min-height: 40px;
  line-height: 40px;
  padding-top: 10px;
  background-color: #E9E4E3; 
  color: #e5eb09; 
  margin: 0;
}

.logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 10px;
}

.logo-img {
  margin-top: 1vh;
  height: 90px;
}

.logo-shu {
  margin-top: 1vh;
  height: 90px;
}

.map {
  z-index: 6;
}

.splash {
  left: 20vw;
  width: 80vw;
}

#splashimage {
  width: 100%;
}

/* ----------------- */
/*    UI ELEMENTS    */
/* ----------------- */

/* HIDE BUTTONS */
.hide-button {
  position: absolute;
  top: 1vmin;
  right: 1vmin;
  background-color: #e5eb09;
  color: #0074ad;
  font-size: calc(var(--font-size) * 1.8);
  padding: 1px 7px;
}

.hide-button:hover {
  background-color: #8cc63f;
  color: #0074ad;
}

/* BACK BUTTONS */
.back-button {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  background-color: #e5eb09;
  color: #0074ad;
  font-size: calc(var(--font-size) * 1.8);
}

.back-button:hover {
  background-color: #8cc63f;
  color: #0074ad;
}

.fa-solid {
  padding: 0;
}

/* SHOW BUTTONS */
.show-button {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  background-color: #e5eb09;
  color: #0074ad;
  font-size: calc(var(--font-size) * 1.8);
  padding: 1px 7px;
}

.show-button.sidebarbtn{
  z-index: 7;
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  border-radius: 10px;
  font-size: 40px;
}

.show-button:hover {
  background-color: #8cc63f;
  color: #0074ad;
}

.filter-button {
  position: absolute;
  top: 1vmin;
  left: 17vmin;
  background-color: #e5eb09;
  color: #0074ad;
  font-size: calc(var(--font-size) * 1.7);
}

.filter-button.sidebarbtn{
  z-index: 7;
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  border-radius: 10px;
  font-size: 40px;
  margin-left: 60px;
}

#show-info-card {
  top: 20vh;
  left: 50vw;
  background-color: #00853e;
  color: #0074ad;
}

#show-info-card:hover {
  background-color: #8cc63f;
  color: #0074ad;
}

/* FILTER */
#filter-dropdown {
  top: 13vh;
  right: 7.6vw;
  background-color: #e5eb09;
  color: #0074ad;
  font-size: calc(var(--font-size) * 1.4); 
  padding: 0.2px;
  display: none;
}

#filter-btn {
  border: none;
  top: 13vh;
  right: 1vmin;
  background-color: #e5eb09;
  color: #0074ad;
  font-size: calc(var(--font-size) * 1.5);
}

/* LANGUAGE BUTTONS */

.italian-button, .english-button {
  background: none;
  border: none;
}

.italian-button > img {
  top: 14vh;
  left: 10.5vw;
  width: 24px;
  height: 17px;
}
.english-button > img {
  top: 14vh;
  left: 25vw;
  width: 24px;
  height: 17px;
}

/* --------------------------- */
/*     Info card elements      */
/* --------------------------- */

#card-container {
  position: absolute;
  background-color: #e5eb09;
  border-radius: 25px;
  left: calc(50vw - 10em);
  top: 6%;
  width: 20em;
}

#card-title {
  font-size: calc(var(--font-size) * 2);
  font-weight: 600;
  font-family: var(--font-family);
  color: #56a446;

}

#card-description {
  font-size: var(--font-size);
  font-family: var(--font-family);
  line-height: 150%;
  margin: 0 4px 15px;
  text-align: center;
  padding: 0 4px;
}

#card-description img {
  max-width: 95%;
  max-height: 100%;
}

#card-description a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-size: larger;
  color: #56a446;
}

.img-background {
  margin-top: 30px;
  width: 97%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* ---------------- */
/* Listing x pop-up */
/* ---------------- */

.listings {
  margin: 2px;
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
  text-align: center;  
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.listings .item-default .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: #0074ad; 
  background: url(../img/fondinoSHU.svg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px; 
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listings .item-panel0 .title, .listings .item-panel1 .title, .listings .item-panel2 .title, .listings .item-panel3 .title, .listings .item-panel4 .title, .listings .item-panel5 .title, .listings .item-panel6 .title, .listings .item-panel7 .title, .listings .item-panel8 .title, .listings .item-panel9 .title, .listings .item-panel10 .title {
  display: block;
  font-size: calc(var(--font-size) * 1.5); 
  font-weight: 700;
  text-decoration: none; 
  color: #ffffff; 
  background: url(../img/fondinoSHU.svg) no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px; 
  min-height: 120px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-link {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}

.creative-commons {
  display: flex; 
  align-items: center;
  flex-direction: row; 
  gap: 8px; 
}

.creative-commons img {
  width: 40px; 
  height: auto; 
}

.creative-commons a {
  display: inline-flex; 
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.marker-default {
  border: none;
  cursor: pointer;
  height: 52px;
  width: 43px;
  background-image: url("../img/markers/icone\ SHU.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

[class^="marker-panel"] {
  border: none;
  cursor: pointer;
  height: 48px;
  width: 43px;
  background-image: url("../img/markers/icone\ SHU\ young.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#filter-marker {
  display: none;
  align-items: center;
  justify-content: space-around;
  padding: 4px;
}

#show-sidebar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px 6px;
}

#marker-dropdown {
  font-size: large;
  background-color: transparent;
  color: #0074ad;
}

#marker-dropdown option{
  background-color: #e5eb09;
}

@media only screen and (max-width: 430px) {

  #filter-dropdown {
    font-size: calc(var(--font-size)*0.8);
  }

  .item {
    font-size: calc(var(--font-size));
  }

  .listings {
    grid-template-columns: 1fr 1fr;
  } 
  
  .listings .item-default .title {
    font-size: calc(var(--font-size));
  }
  
  .listings .item-infopoint .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-food .title {
    font-size: calc(var(--font-size));
    justify-content: center;
  }
  
  .listings .item-bus .title {
    font-size: calc(var(--font-size));
  }
  
  .listings .item-parking .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-wellness .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-privateEvents .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-youngMakers .title {
    font-size: calc(var(--font-size));
  }
  
  .listings .item-drones .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-stopMotion .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-auditorium .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-robotArena .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-toilet .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-water .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-shuKids .title {
    font-size: calc(var(--font-size));
  }

  .listings .item-tourism .title {
    font-size: calc(var(--font-size));
  }
  
  .listings .item-entrance .title {
    font-size: calc(var(--font-size));
  }
  
  .listings .item-portals .title {
    font-size: calc(var(--font-size));
  }
  
  .listings .item-crafts .title {
    font-size: calc(var(--font-size));
  }

  .show-button.sidebarbtn {
    font-size: xx-large;
  }

  .filter-button.sidebarbtn {
    font-size: xx-large;
    margin-left: 50px;
  }

  #marker-dropdown {
    font-size: calc(var(--font-size)*0.6);
  }
}

